certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
idna==3.4
jamf-api-auth==1.1.0
jaraco.classes==3.3.0
jps-api-wrapper==1.9.0
keyring==24.2.0
more-itertools==10.1.0
requests==2.31.0
typing==3.7.4.3
urllib3==2.0.6
